# Tautulli - Stats for Plex Media Server usage
#
# Service Unit file for systemd system manager
[Unit]
Description=Tautulli - Stats for Plex Media Server usage

[Service]
ExecStart={{ tautulli_install_location }}Tautulli.py --quiet --daemon --nolaunch --config {{ tautulli_config_location }} --datadir {{ tautulli_data_location }}
GuessMainPID=no
Type=forking
User={{ tautulli_user }}
Group={{ tautulli_group }}

[Install]
WantedBy=multi-user.target